$font-sizes: (
  h1: 2.5rem,
  h2: 1.8rem,
  h3: 1.5rem,
  p: 1.2rem,
  label: 1.3rem,
);

$cloudy-gray: #858484;
$cold-blue: #000080;
$hot-red: #fd1d1d;
$sunny-yellow: #fcf145;
$leafy-green: #4CAF50;
$background-gradient: linear-gradient(45deg, $cold-blue 0%, $hot-red 33.33%, $sunny-yellow 90%);
$content-padding-x: 10px;
$content-padding-y: 25px;
$small-rounding: 8px;
$medium-rounding: 16px;
$rounded: 50%;
$box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 16px 8px 16px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.1);

$small-gap: 15px;
$medium-gap: 25px;
$big-gap: 35px;