@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.card {
  background-color: white;
  width: min(1000px, 90%);
  margin: 0 auto;
  padding: $content-padding-y;
  border-radius: $medium-rounding;
  box-shadow: $box-shadow;
}