@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.current-weather-container {
  @include flex(row, space-evenly, initial, $big-gap);
  flex-wrap: wrap;
  
  .current-icon-container {
    display: flex;
    width: min(100%, 300px);
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .current-info-container {
    grid-column: 2 / 3;
    padding: $content-padding-x;
    @include flex(column, initial, initial, $small-gap)
  }
}