@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.current-weather-container {
  @include staticGrid(1fr 3fr, auto, initial, initial, $big-gap);
  
  .current-icon-container {
    grid-column: 1 / 2;
    display: flex;
    grid-column: 1/2;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .current-info-container {
    grid-column: 2 / 3;
    padding: $content-padding-x;
    @include flex(column, initial, initial, $small-gap)
  }
}