@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

form {
  @include staticGrid(repeat(3, auto), default, initial,center, $small-gap);
  align-items: center;

  .searchbar {
    font-size: 1.1rem;
    padding: $content-padding-x;
    border-radius: $small-rounding;
    outline: none;
    border: 2px solid $leafy-green;

    &:focus {
      border: 2px solid $cold-blue;
    }
  }

  button {
    padding: $content-padding-x $content-padding-y;
    width: fit-content;
    justify-self: end;
    border-radius: $small-rounding;
    font-weight: bold;
    background-color: $leafy-green;
    color: white;
    cursor: pointer;
  }

}